.app-container {
  border-radius: 5px;
  text-align: center;
  max-width: 400px;
  margin: 15rem 0 0 65%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(25, 8, 46, 0.2);
  color: white;
  width: 25rem;
}

.balance {
  font-size: 18px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  width: 25rem;
  flex-wrap: wrap;
 
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  margin: 0 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 10rem;
  border-radius: 8px;
  border: 1px solid white;
}

.deposit {
  background-color: #3a6b6a;
  color: white;

}

.withdraw {
  background-color: #f44336;
  color: white;
 
  margin-left: 7rem;
}
body {
  background-image: linear-gradient(rgb(255, 255, 255), rgb(25, 8, 46));
  width: 100vh;
  height: 70.4vh;
  
}
